@font-face {
	font-family: "rma-icons";
	src: url('../fonts/rma-icons.eot');
	src: url('../fonts/rma-icons.eot?#iefix') format('eot'),
		url('../fonts/rma-icons.woff2') format('woff2'),
		url('../fonts/rma-icons.woff') format('woff'),
		url('../fonts/rma-icons.ttf') format('truetype'),
		url('../fonts/rma-icons.svg#rma-icons') format('svg');
}

.ic:before {
	font-family: "rma-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.ic-bars:before {
	content: "\E001";
}

.ic-close:before {
	content: "\E002";
}
