$mxW: 1240px;
$gutter: 20px;

$white: #FFFFFF;
$black: #111111;

$primary: #696A6D;
$secondary: $primary;
$accent: #D6515C;
$gray1: #C8C9CF;

$mediaXs: "screen and (max-width: 375px)";
$mediaPhone: "screen and (max-width: 767.9px)";
$mediaTablet: "screen and (min-width: 768px)";
$mediaTabletOnly: "screen and (min-width: 768px) and (max-width: 1024.9px)";
$mediaToggleHeader: "screen and (max-width: 1024.9px)";
$mediaDesktop: "screen and (min-width: 1025px)";
$mediaFull: "screen and (min-width: #{$mxW})";
