.contact-info {
  font-size: 12px;
  margin-bottom: 2em;

  a {
    color: $secondary;

    @include hover {
      color: $accent;
    }
  }

  li.address {
    margin-bottom: 1em;
  }
}


.contact {
  iframe {
    width: 100%;
  }
}
