.project-list {

}

.listing-table {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 38px;
  }

  thead {
    border-bottom: 1px solid $primary;
  }

  th {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0;
    position: relative;
    transition: all .25s;
    cursor: pointer;

    @include hover {
      color: $accent;
      outline: 0;

      div:after {
        opacity: 1;
      }
    }

    div {
      display: flex;
      //justify-content: space-between;
      align-items: center;
      padding-right: $gutter;

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 6px 4px;
        border-color: transparent transparent $primary transparent;
        content: "";
        opacity: .5;
        transition: all .25s;
        transform: rotate(180deg);
        margin-right: $gutter / 4;
      }
    }

    &[aria-sort="ascending"],
    &[aria-sort="descending"] {
      color: $accent;
      div:after {
        opacity: 1;
      }
    }

    &[aria-sort="descending"] {
      div:after {
        transform: rotate(0);
      }
    }
  }

  td {
    padding: 1em 0;
    &,
    h2 {
      font-size: 11px;
    }

    h2 {
      margin: 0;
    }
  }

  a {
    color: $primary;
    text-decoration: none;

    @include hover {
      color: $accent;
      text-decoration: underline;
      outline: none;
    }
  }
}

.project-images {
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  figure {
    padding-bottom: 24px;
  }

  figcaption {
    font-size: 9px;
    line-height: (11 / 9) * 1em;
    margin-top: 1em;
    color: $secondary;
  }

  @media #{$mediaTablet} {
    display: flex;
    flex-flow: row wrap;
    margin: -#{$gutter / 2};

    figure {
      width: 50%;
      padding: $gutter / 2;

      &:first-child {
        width: 100%;
      }
    }
  }
}


.project-detail {
  // main {
  //   display: flex;
  //   flex-direction: column-reverse;
  // }

  main {
    nav {
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      a {
        color: $secondary;
        text-decoration: none;

        @include hover {
          color: $accent;
          text-decoration: underline;
        }
      }

      @media #{$mediaTablet} {
        :first-child {
          transform: translateX(-14px);
        }

        :last-child {
          transform: translateX(14px);
        }
      }
    }
  }

  .main-content {
    > div:last-child {
      @media #{$mediaDesktop} {
        width: 50%;
        flex-grow: 0;
      }
    }
  }
}

.project-archive {
  main {
    nav {
      font-size: 14px;

      li {
        margin-bottom: .2em;

        &:last-child {
          margin-top: 2em;
        }
      }

      a {
        color: $secondary;
        text-decoration: none;

        @include hover {
          color: $accent;
        }

        &.active {
          color: $accent;
          font-weight: bold;

          @include hover {
          }
        }
      }
    }
  }
}

.see-also {
  ul {
    font-size: 14px;

    li {
      margin-bottom: .2em;
    }

    a {
      color: $secondary;

      @include hover {
        color: $accent;
      }

      &.active {
        color: $accent;
        font-weight: bold;

        @include hover {
        }
      }
    }
  }
}
