h1, .h1 {

}

h2, .h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 1em 0;

  ~ h2,
  ~ .h2 {
    margin-top: 3em;
  }

  small {
    font-weight: normal;
    font-size: 11px;
  }
}

h1, .h1 {

}

h1, .h1 {

}

h1, .h1 {

}

h1, .h1 {

}

p {
  font-size: 11px;
  margin: 1em 0;
  line-height: 1.4em;
}
