.header_widget {
  margin: $gutter;

  input[type="text"] {
    font-size: 14px;
    border: 1px solid $black;
    padding: 5px;
    width: 100%;
  }

  @media #{$mediaTablet}  {
    padding: 11px 0 18px 17.5px;
    margin: 0;
    input[type="text"] {
      font-size: 11px;
      width: auto;
      padding: 2px 5px;
    }
  }
}

.search-results {
  @media #{$mediaDesktop} {
    width: 80%;
    margin: auto;
  }
  h2 {
    margin-bottom: 3em;
  }

  article {
    margin-bottom: 2em;
    padding: 0 1em 1em;
    border-bottom: 1px solid $primary;

    &:last-child {
      border-bottom: 0;
    }

    h3 {
      font-size: 14px;
    }
  }

  a {
    color: $primary;

    @include hover {
      color: $accent;
    }
  }

  .type {
    font-size: 10px;
    color: $secondary;
  }
}
