.header_widget {
  margin: $gutter;

  input[type="text"] {
    font-size: 14px;
    border: 1px solid $black;
    padding: 5px;
    width: 100%;
  }

  @media #{$mediaTablet}  {
    padding: 11px 0 18px 17.5px;
    margin: 0;
    input[type="text"] {
      font-size: 11px;
      width: auto;
      padding: 2px 5px;
    }
  }
}
